
  <div *ngIf="uid !==null">
    <ion-header >
      <ion-toolbar color="headerColor">
          
        <ion-chip class="ion-margin-start">
          <ion-avatar>
            <img src="assets/icon/perfil.png">
          </ion-avatar>
          <ion-label class="colorLetraUsuario" [routerLink]="['/editarUsuario', usuarioLogeado.id]">{{usuarioLogeado.nombre}} {{usuarioLogeado.apellidoUno}} {{usuarioLogeado.aprellidoDos}}</ion-label>
        </ion-chip>

  <!--
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
-->
        <ion-buttons slot="end">
          <ion-button (click)="presentActionSheet()">
            <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
          </ion-button>
        </ion-buttons>
    
      </ion-toolbar>
    </ion-header>
    <ion-content fullscreen="true">

      <ion-card button="true" [routerLink]="'/listasCompra'">
        <ion-card-header>
          <ion-card-title class="colorLetraTituloCard">Lista de la compra</ion-card-title>
          <ion-card-subtitle>Escribe aquí todo lo que necesites.</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="item-background-color" >
          <ion-item class="item-background-color">
            <ion-label class="colorLetraLabel">¡Empieza ya!</ion-label>
            <ion-icon name="cart" slot="end" class="colorIcono" ></ion-icon>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card button="true" [routerLink]="'/rutina'">
        <ion-card-header>
          <ion-card-title class="colorLetraTituloCard">Rutina de gimnasio</ion-card-title>
          <ion-card-subtitle>Consulta tu rutina de gimnasio para no perderte nada.</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-item class="item-background-color">
            <ion-label class="colorLetraLabel">¡Vamos!</ion-label>
            <ion-icon name="barbell-outline" slot="end" class="colorIcono"></ion-icon>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card button="true" [routerLink]="'/comidas'">
        <ion-card-header>
          <ion-card-title class="colorLetraTituloCard">Menú del día</ion-card-title>
          <ion-card-subtitle>Mira que te toca hoy de comer, no pienses más.</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-item class="item-background-color">
            <ion-label class="colorLetraLabel">¡A ponerse las pilas!</ion-label>
            <ion-icon name="fast-food-outline" slot="end" class="colorIcono"></ion-icon>
          </ion-item>
        </ion-card-content>
      </ion-card>
      
<!--
      <ion-card button="true" [routerLink]="'/calendario'">
        <ion-card-header>
          <ion-card-title class="colorLetraTituloCard">Calendario</ion-card-title>
          <ion-card-subtitle>¿No sabes en que día vives?</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-item class="item-background-color">
            <ion-label class="colorLetraLabel">¡Entra aquí!</ion-label>
            <ion-icon name="calendar-number" slot="end" class="colorIcono"></ion-icon>
          </ion-item>
        </ion-card-content>
      </ion-card>
-->      
        
    
<!--
    <ion-tabs>
      <ion-tab-bar slot="botton">
        <ion-tab-button [routerLink]="'/listasCompra'">
          <ion-icon name="cart"></ion-icon>
        </ion-tab-button>

        <ion-tab-button  [routerLink]="'/rutina'">
          <ion-icon name="barbell-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button [routerLink]="'/comidas'">
          <ion-icon name="fast-food-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
    -->
</ion-content>

  
  </div>




<!-----------------------------------------------------USUARIO NO LOGEADO--------------------------------------------------->
  <div *ngIf="uid ===null" style="width:100% ; height: 100%;" class="fondoHeader">
    <ion-header >
      <ion-toolbar color="headerColor">

        <ion-thumbnail slot="start" class="imagen">
          <img src="assets/icon/logotipo.png" class="ajusteImagen">
        </ion-thumbnail>
    <!--TITULO-->
        <ion-title >
            Manager Life
        </ion-title>
    <!--BOTONES DEL MENU-->
  <!--
        <ion-buttons slot="start">
          
          <ion-button [routerLink]="'/perfilUsuario'">
            <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
           </ion-button>
        </ion-buttons>
  -->
        <!--Boton para ir a crear usuario-->
        <ion-buttons slot="end">
          <ion-button [routerLink]="'/perfilUsuario'">
              <ion-icon slot="icon-only" name="person-add"></ion-icon>
          </ion-button>
        </ion-buttons>
    
      </ion-toolbar>
    </ion-header>


    <ion-content fullscreen="true" style=" --ion-background-color:#e8f3f4;">
      <form style="padding:10px ;">
        <ion-item lines="full" style="padding:5px ;">
          <ion-label class="colorLetraLabel" position="floating">Email</ion-label>
          <ion-input type="text" [(ngModel)]="usuarioLogeado.email" required name="first"></ion-input>
        </ion-item>
        <ion-item lines="full" style="padding:5px ;">
          <ion-label class="colorLetraLabel" position="floating">Password</ion-label>
          <ion-input type="password" [(ngModel)]="usuarioLogeado.pass" required name="second"></ion-input>
        </ion-item>
        <ion-row>
          <ion-col class="botonesFormulario">
            <ion-button type="submit" color="primary" class="botonLogin" (click)="logearUsuario()" [routerLink]="'/perfilUsuario'">Entrar</ion-button>
            <ion-button type="submit" color="secondary" class="botonRegistrarse" [routerLink]="'/perfilUsuario'">Registrarse</ion-button>
           <!--<a style="color:rgb(70, 70, 206); font-size: 11px; margin-top: 2px;" [routerLink]="['/forgot-password']" class="small-text">Olvidé la contraseña</a>--> 
          </ion-col>
        </ion-row>
      </form>


    
    </ion-content>

    
  </div>








 