.label{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    color: #847c7c;
    font-size: 14px;
}

span{
    color: rgb(231, 77, 77);
    font-size: 12px;
}

